.currency-swap-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h5 {
  font-size: 1.4rem;
  text-align: center;
  color: #333;
}

.currency-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: inherit;
  color: #333;
  transition: all 0.3s ease;
}

.currency-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-select-container {
  position: relative;
  margin: 10px 0;
}

.custom-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.custom-select:hover {
  border-color: #007bff;
}

.custom-select span {
  color: #888;
}

.custom-select.open::after {
  transform: rotate(180deg);
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-dropdown div {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-dropdown div:hover {
  background-color: #007bff;
  color: #fff;
}

.currency-option {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.currency-option:hover {
  background-color: #f0f0f0;
}

.currency-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.swap-button {
  margin-top: 20px;
  padding: 18px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: inherit;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.swap-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.swap-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.result {
  margin-top: 20px;
  text-align: center;
}

.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 10px;
  height: 10px;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(-135deg);
}

.input-error {
  border: 2px solid red;
}
.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-left: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
